{% for server in server_links.values() %}
link {{ server.name }} {
    outgoing {
        hostname "{{ server.address }}";
        port {{ server.port }};
        options { ssl; autoconnect; };
    };
    password "{{ server.password }}";
    verify-certificate yes;
    hub *;
    class servers;
};
{% endfor %}
