{% for server in server_links.values() %}
link "{{ server.name }}" {
    incoming {
        mask 10.*.*.*;
    };
    outgoing {
        hostname "{{ server.address }}";
        port {{ server.port }};
        options { ssl; autoconnect; };
    };
    password "{{ server.password }}";
    verify-certificate {{ "yes" if server.verify_certificate else "no" }};
    hub *;
    class servers;
};
{% endfor %}
