me {
    name "{{ current_server }}";
    info "{{ config.server_info }}";
    sid {{ server_id }};
};

operclass rehasher {
    permissions {
        server {
            rehash;
        };
    };
};

oper rehash {
    mask "*@127.0.0.1";
    password "{{ config.oper_password }}";
    class "{{ config.oper_user_class }}";
    operclass rehasher;
};
